<!-- INCLUDE mcp_header.html -->

<form id="mcp" method="post" action="{S_MCP_ACTION}">

<!-- IF not S_PM -->
<fieldset class="forum-selection">
	<label for="fo">{L_FORUM}{L_COLON} <select name="f" id="fo">{S_FORUM_OPTIONS}</select></label>
	<input type="submit" name="sort" value="{L_GO}" class="btn btn-secondary" />
	{S_FORM_TOKEN}
</fieldset>
<!-- ENDIF -->

<h2>{L_TITLE}</h2>

	<p>{L_EXPLAIN}</p>

	<!-- IF .postrow -->
		<div class="action-bar bar-top">
			<div class="pagination d-flex flex-column justify-content-center">
				<p class="mb-0">{TOTAL_REPORTS}</p>
				<!-- IF .pagination -->
					<!-- INCLUDE pagination.html -->
				<!-- ELSE -->
				<p>{PAGE_NUMBER}</p>
				<!-- ENDIF -->
			</div>
		</div>

		<ul class="topiclist missing-column">
			<li class="header">
				<dl>
					<dt><div class="list-inner">{L_VIEW_DETAILS}</div></dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist missing-column">

		<!-- BEGIN postrow -->
			<li class="row<!-- IF postrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
				<dl class="row-item d-flex justify-content-between">
					<!-- IF S_PM -->
					<dt class="d-flex flex-grow-1 align-items-center pb-0">
						<div class="list-inner">
							<a href="{{ postrow.U_VIEW_DETAILS }}" class="topictitle">{{ postrow.PM_SUBJECT }}</a>
							{% if postrow.ATTACH_ICON_IMG %} <i class="icon fa-paperclip fa-fw" aria-hidden="true"></i>{% endif %}
							<span>{L_MESSAGE_BY_AUTHOR} {postrow.PM_AUTHOR_FULL} &raquo; {postrow.PM_TIME}</span><br />
							<span>{L_MESSAGE_TO} {postrow.RECIPIENTS}</span>
							<div class="responsive-show" style="display: none;">
								{L_REPORTER}{L_COLON} {postrow.REPORTER_FULL} &laquo; {postrow.REPORT_TIME}
							</div>
						</div>
					</dt>
					<dd class="moderation d-flex flex-column justify-content-center">
						<span>{L_REPORTER}<!-- IF not S_PM --> &amp; {L_FORUM}<!-- ENDIF --></span>
						<span>{postrow.REPORTER_FULL} &laquo; {postrow.REPORT_TIME}</span>
					</dd>
					<!-- ELSE -->
					<dt class="d-flex flex-grow-1 align-items-center">
						<div class="list-inner ps-0 d-flex flex-column">
							<a href="{{ postrow.U_VIEW_DETAILS }}" class="topictitle">{{ postrow.POST_SUBJECT }}</a>
							{% if postrow.ATTACH_ICON_IMG %} <i class="icon fa-paperclip fa-fw" aria-hidden="true"></i>{% endif %}
							<span class="forum-description">{L_POSTED} {L_POST_BY_AUTHOR} {postrow.POST_AUTHOR_FULL} &raquo; {postrow.POST_TIME}</span>
							<div class="responsive-show" style="display: none;">
								{L_REPORTER}{L_COLON} {postrow.REPORTER_FULL} &laquo; {postrow.REPORT_TIME}<br />
								<!-- IF postrow.U_VIEWFORUM -->{L_FORUM}{L_COLON} <a href="{postrow.U_VIEWFORUM}">{postrow.FORUM_NAME}</a><!-- ELSE -->{postrow.FORUM_NAME}<!-- ENDIF -->
							</div>
						</div>
					</dt>
					<dd class="moderation small">
						<span class="fw-bold">{L_REPORTER}<!-- IF not S_PM --> &amp; {L_FORUM}<!-- ENDIF --></span>
						<span>{postrow.REPORTER_FULL} &laquo; {postrow.REPORT_TIME}<br />
						<!-- IF postrow.U_VIEWFORUM -->{L_FORUM}{L_COLON} <a href="{postrow.U_VIEWFORUM}">{postrow.FORUM_NAME}</a><!-- ELSE -->{postrow.FORUM_NAME}<!-- ENDIF --></span>
					</dd>
					<!-- ENDIF -->
					<dd class="d-flex align-items-center">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="report_id_list[]" value="{postrow.REPORT_ID}">
						</div>
					</dd>
				</dl>
			</li>
		<!-- END postrow -->
		</ul>

		<div class="action-bar bottom d-flex justify-content-between">
			<ul class="navbar-nav">
				<!-- INCLUDE display_options.html -->
			</ul>
			<!-- IF TOPIC_ID -->
				<label>
					<input type="hidden" name="t" value="0">
					<input type="checkbox" class="radio" name="t" value="{TOPIC_ID}" checked="checked" onClick="document.getElementById('mcp').submit()" />
					<strong>{L_ONLY_TOPIC}</strong>
				</label>
			<!-- ENDIF -->

			<div class="pagination d-flex flex-column justify-content-center">
				<p class="mb-0">{TOTAL_REPORTS}</p>
				<!-- IF .pagination -->
					<!-- INCLUDE pagination.html -->
				<!-- ELSE -->
				<p>{PAGE_NUMBER}</p>
				<!-- ENDIF -->
			</div>
		</div>

	<!-- ELSE -->
		<p><strong>{L_NO_REPORTS}</strong></p>
	<!-- ENDIF -->

<!-- IF .postrow -->
	<fieldset class="display-actions">
		<input class="btn btn-secondary" type="submit" value="{L_DELETE_REPORTS}" name="action[delete]" form="mcp" />
		<!-- IF not S_CLOSED -->&nbsp;<input class="btn btn-outset" type="submit" name="action[close]" form="mcp" value="{L_CLOSE_REPORTS}" /><!-- ENDIF -->
		<div><a href="#" onclick="marklist('mcp', 'report_id_list', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', 'report_id_list', false); return false;">{L_UNMARK_ALL}</a></div>
	</fieldset>
<!-- ENDIF -->
</form>

<!-- INCLUDE mcp_footer.html -->
