<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">

<h2>{L_TITLE}</h2>

	<h3>{USERNAME_FULL}</h3>

		<div class="d-flex">
			<!-- IF AVATAR_IMG --><div>{AVATAR_IMG}</div><!-- ENDIF -->
			<div class="d-flex flex-column">
				<!-- IF RANK_TITLE -->
				<div class="d-flex"><div class="fw-bold me-2">{L_RANK}{L_COLON}</div>{RANK_TITLE}</div>
				<!-- ENDIF -->
				<!-- IF RANK_IMG -->
				<div class="d-flex"><div class="fw-bold me-2"><!-- IF RANK_TITLE -->&nbsp;<!-- ELSE -->{L_RANK}{L_COLON}<!-- ENDIF --></div>{RANK_IMG}</div>
				<!-- ENDIF -->
				<div class="d-flex"><div class="fw-bold me-2">{L_JOINED}{L_COLON}</div>{JOINED}</div>
				<div class="d-flex"><div class="fw-bold me-2">{L_TOTAL_POSTS}{L_COLON}</div>{POSTS}</div>
				<div class="d-flex"><div class="fw-bold me-2">{L_WARNINGS}{L_COLON} </div>{WARNINGS}</div>
			</div>
		</div>

	<h3 class="mt-3">{L_ADD_FEEDBACK}</h3>
	<p>{L_ADD_FEEDBACK_EXPLAIN}</p>

	<fieldset>
		<textarea name="usernote" id="usernote" class="form-control" cols="40" rows="3"></textarea>
	</fieldset>

	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}
		<input type="submit" name="action[add_feedback]" value="{L_SUBMIT}" class="btn btn-outset" />
		{S_FORM_TOKEN}
	</fieldset>

	<div class="action-bar bar-top mt-5">
		<div class="search-box flex-grow-1 flex-md-grow-0 h-100">
			<div class="input-group">
				<input type="search" class="form-control rounded-end" name="keywords" value="{S_KEYWORDS}" placeholder="{L_SEARCH_KEYWORDS}" />&nbsp;
				<input type="submit" class="btn btn-secondary mb-0" name="filter" value="{L_SEARCH}" />
			</div>
		</div>

		<div class="pagination d-flex flex-column justify-content-center">
			<p class="mb-0">{TOTAL_REPORTS}</p>
			<!-- IF .pagination -->
				<!-- INCLUDE pagination.html -->
			<!-- ELSE -->
			<p>{PAGE_NUMBER}</p>
			<!-- ENDIF -->
		</div>
	</div>

	<table class="table bg-white">
	<thead>
	<tr>
		<th class="name reportby">{L_REPORT_BY}</th>
		<th class="center">{L_IP}</th>
		<th class="center">{L_TIME}</th>
		<th>{L_ACTION_NOTE}</th>
		<!-- IF S_CLEAR_ALLOWED --><th>{L_MARK}</th><!-- ENDIF -->
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN usernotes -->
	<!-- IF usernotes.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
		<td>{usernotes.REPORT_BY}</td>
		<td class="center">{usernotes.IP}</td>
		<td class="center">{usernotes.REPORT_AT}</td>
		<td>{usernotes.ACTION}</td>

		<!-- IF S_CLEAR_ALLOWED --><td class="center" style="width: 5%;"><input type="checkbox" name="marknote[]" id="note-{usernotes.ID}" value="{usernotes.ID}" /></td><!-- ENDIF -->
	</tr>
	<!-- BEGINELSE -->
	<tr>
		<td class="bg1" colspan="<!-- IF S_CLEAR_ALLOWED -->5<!-- ELSE -->4<!-- ENDIF -->" align="center"><span class="gen">{L_NO_ENTRIES}</span></td>
	</tr>
	<!-- END usernotes -->
	</tbody>
	</table>

	<div class="action-bar bottom d-flex justify-content-between w-100">
		<ul class="navbar-nav">
			<!-- INCLUDE display_options.html -->
		</ul>

		<div class="pagination d-flex flex-column justify-content-center">
			<p class="mb-0">{TOTAL_REPORTS}</p>
			<!-- IF .pagination -->
				<!-- INCLUDE pagination.html -->
			<!-- ELSE -->
			<p>{PAGE_NUMBER}</p>
			<!-- ENDIF -->
		</div>
	</div>

<!-- IF S_CLEAR_ALLOWED -->
<fieldset class="display-actions">
	<input class="btn btn-secondary" type="submit" name="action[del_all]" value="{L_DELETE_ALL}" />
	&nbsp;<input class="btn btn-outset" type="submit" name="action[del_marked]" value="{L_DELETE_MARKED}" />
</fieldset>

<fieldset class="display-actions">
	<div><a href="#" onclick="marklist('mcp', 'marknote', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="marklist('mcp', 'marknote', false); return false;">{L_UNMARK_ALL}</a></div>
</fieldset>
<!-- ENDIF -->
</form>

<!-- INCLUDE mcp_footer.html -->
