<form method="post" action="{U_QR_ACTION}" id="qr_postform">
	<div class="mb-3 quickReply">
		<label for="message-box" class="form-label"><h2>{L_QUICKREPLY}</h2></label>
		<div class="row">
			<div class="col-2 d-none d-md-flex justify-content-center align-items-center">
				<!-- IF CURRENT_USER_AVATAR -->{CURRENT_USER_AVATAR}<!-- ELSE --><img src="styles/outset/theme/images/noavatar.svg"><!-- ENDIF -->
			</div>
			<div class="col-12 col-md-10">
				<!-- EVENT quickreply_editor_subject_before -->
				<dl class="d-none">
					<dt><label for="subject">{L_SUBJECT}{L_COLON}</label></dt>
					<dd><input type="text" name="subject" id="subject" size="45" maxlength="124" tabindex="2" value="{SUBJECT}" class="inputbox autowidth" /></dd>
				</dl>
				<!-- EVENT quickreply_editor_panel_before -->
				<fieldset class="mb-2">
					<!-- EVENT quickreply_editor_message_before -->
					<textarea class="form-control" name="message" id="message-box" rows="6"></textarea>
					<!-- EVENT quickreply_editor_message_after -->
				</fieldset>
				<fieldset class="d-flex justify-content-end">
					{S_FORM_TOKEN}
					{QR_HIDDEN_FIELDS}
					<input type="submit" accesskey="f" tabindex="6" name="preview" value="{L_FULL_EDITOR}" class="btn btn-secondary" id="qr_full_editor" />&nbsp;
					<input type="submit" accesskey="s" tabindex="7" name="post" value="{L_SUBMIT}" class="btn btn-primary" />&nbsp;
				</fieldset>
				<!-- EVENT quickreply_editor_panel_after -->
			</div>
		</div>
	</div>

</form>
