<!-- INCLUDE ucp_header.html -->

<h2>{L_TITLE}</h2>

<div>
	<div class="inner">

	<p>{L_UCP_WELCOME}</p>

<!-- IF .topicrow -->
	<h3>{L_IMPORTANT_NEWS}</h3>

	<ul class="topiclist cplist two-long-columns">
	<!-- BEGIN topicrow -->
		<li class="row<!-- IF topicrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<dl class="row-item {topicrow.TOPIC_IMG_STYLE}">
				<dt <!-- IF topicrow.TOPIC_ICON_IMG -->style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF -->>
					<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}" class="row-item-link"></a><!-- ENDIF -->
					<div class="list-inner">
						<!-- IF topicrow.S_UNREAD -->
							<a class="unread" href="{topicrow.U_NEWEST_POST}">
								<i class="icon fa-file fa-fw icon-red icon-md" aria-hidden="true"></i><span class="sr-only">{NEW_POST}</span>
							</a>
						<!-- ENDIF -->
						<a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a><br />
						<!-- IF .topicrow.pagination -->
						<div class="pagination">
							<ul>
							<!-- BEGIN pagination -->
								<!-- IF topicrow.pagination.S_IS_PREV -->
								<!-- ELSEIF topicrow.pagination.S_IS_CURRENT --><li class="active"><span>{topicrow.pagination.PAGE_NUMBER}</span></li>
								<!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS --><li class="ellipsis"><span>{L_ELLIPSIS}</span></li>
								<!-- ELSEIF topicrow.pagination.S_IS_NEXT -->
								<!-- ELSE --><li><a href="{topicrow.pagination.PAGE_URL}">{topicrow.pagination.PAGE_NUMBER}</a></li>
								<!-- ENDIF -->
							<!-- END pagination -->
							</ul>
						</div>
						<!-- ENDIF -->
						<div class="responsive-hide">
							<!-- IF topicrow.ATTACH_ICON_IMG --><i class="icon fa-paperclip fa-fw" aria-hidden="true"></i> <!-- ENDIF -->
							{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}
						</div>
						<div class="responsive-show" style="display: none;">
							<!-- IF topicrow.ATTACH_ICON_IMG --><i class="icon fa-paperclip fa-fw" aria-hidden="true"></i> <!-- ENDIF -->
							{L_LAST_POST} {L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL} &laquo; <a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}">{topicrow.LAST_POST_TIME}</a>
						</div>
					</div>
				</dt>
				<dd class="lastpost">
					<span>{L_LAST_POST} {L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
						<a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}">
							<i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">{VIEW_LATEST_POST}</span>
						</a>
						<br />{topicrow.LAST_POST_TIME}
					</span>
				</dd>
			</dl>
		</li>
	<!-- END topicrow -->
	</ul>
<!-- ENDIF -->

	<h3>{L_YOUR_DETAILS}</h3>

		<!-- EVENT ucp_main_front_user_activity_before -->
		<table class="table table-borderless">
			<tbody>
				<!-- EVENT ucp_main_front_user_activity_prepend -->
				<tr>
					<th scope="row">{L_JOINED}</th>
					<td>{JOINED}</td>
				</tr>
				<tr>
					<th scope="row">{L_LAST_ACTIVE}</th>
					<td>{LAST_VISIT_YOU}</td>
				</tr>
				<tr>
					<th scope="row">{L_TOTAL_POSTS}</th>
					<td><!-- IF POSTS_PCT -->{POSTS}<!-- IF S_DISPLAY_SEARCH --> | <a href="{U_SEARCH_USER}">{L_SEARCH_YOUR_POSTS}</a><!-- ENDIF --><br />({POSTS_DAY} / {POSTS_PCT})<!-- ELSE -->{POSTS}<!-- ENDIF --></td>
				</tr>
				<!-- IF ACTIVE_FORUM != '' -->
				<tr>
					<th scope="row">{L_ACTIVE_IN_FORUM}</th>
					<td><a href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a><br />({ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT})</td>
				</tr>
				<!-- ENDIF -->
				<!-- IF ACTIVE_TOPIC != '' -->
				<tr>
					<th scope="row">{L_ACTIVE_IN_TOPIC}</th>
					<td><a href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a><br />({ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT})</td>
				</tr>
				<!-- ENDIF -->
				<!-- IF WARNINGS -->
				<tr>
					<th scope="row">{L_YOUR_WARNINGS}</th>
					<td>{WARNINGS}</td>
				</tr>
				<!-- ENDIF -->
				<!-- EVENT ucp_main_front_user_activity_append -->
			</tbody>
		</table>
		<!-- EVENT ucp_main_front_user_activity_after -->

	</div>
</div>

<!-- INCLUDE ucp_footer.html -->
