<!-- INCLUDE overall_header.html -->
<!-- EVENT viewforum_forum_title_before -->
<h2 class="forum-title"><!-- EVENT viewforum_forum_name_prepend --><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a><!-- EVENT viewforum_forum_name_append --></h2>
<!-- EVENT viewforum_forum_title_after -->
<!-- IF FORUM_DESC or MODERATORS or U_MCP -->
<div>
	<!-- NOTE: remove the style="display: none" when you want to have the forum description on the forum body -->
	<!-- IF FORUM_DESC --><div style="display: none !important;">{FORUM_DESC}</div><!-- ENDIF -->
	<!-- IF MODERATORS --><p><strong><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->{L_COLON}</strong> {MODERATORS}</p><!-- ENDIF -->
</div>
<!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
	<div class="rules<!-- IF U_FORUM_RULES --> rules-link<!-- ENDIF -->">
		<div class="inner">

		<!-- IF U_FORUM_RULES -->
			<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
		<!-- ELSE -->
			<strong>{L_FORUM_RULES}</strong><br />
			{FORUM_RULES}
		<!-- ENDIF -->

		</div>
	</div>
<!-- ENDIF -->

<!-- IF S_HAS_SUBFORUM -->
<!-- INCLUDE forumlist_body.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO or .pagination or TOTAL_POSTS or TOTAL_TOPICS -->
	<div class="action-bar bar-top d-flex justify-content-between flex-wrap my-1">
		<div class="d-flex flex-grow-1">
		<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
			<ul class="navbar">
				<!-- EVENT viewforum_buttons_top_before -->
				<li class="nav-item flex-grow-1 me-1">
					<a href="{U_POST_NEW_TOPIC}" class="btn btn-primary" title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->">
						<!-- IF S_IS_LOCKED -->
							<span>{L_BUTTON_FORUM_LOCKED}</span> <i class="icon fa-lock fa-fw" aria-hidden="true"></i>
						<!-- ELSE -->
							<span>{L_BUTTON_NEW_TOPIC}</span> <i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
						<!-- ENDIF -->
					</a>
				</li>
				<!-- IF not S_IS_BOT and U_MARK_TOPICS and .topicrow -->
				<li class="nav-item me-1">
						<a href="{U_MARK_TOPICS}" class="btn btn-secondary" accesskey="m" data-ajax="mark_topics_read" title="{L_MARK_TOPICS_READ}">
							<i class="icon fa-check fa-fw icon-lg" aria-hidden="true"></i> <span class="sr-only">{L_MARK_TOPICS_READ}</span></a>
				</li>
				<!-- ENDIF -->
				<!-- IF S_HAS_SUBFORUM -->
				<li class="nav-item me-1">
					<a href="{U_MARK_FORUMS}" class="btn btn-secondary" accesskey="m" data-ajax="mark_forums_read" title="{L_MARK_SUBFORUMS_READ}"><i class="icon fa-fw fa-check icon-lg" aria-hidden="true"></i><i class="icon fa-fw fa-check icon-lg" style="margin-left: -13px;" aria-hidden="true"></i> <span class="sr-only">{L_MARK_SUBFORUMS_READ}</span></a>
				</li>
				<!-- ENDIF -->
				<!-- EVENT viewforum_buttons_top_after -->
		<!-- ENDIF -->

				<!-- IF S_DISPLAY_SEARCHBOX -->
				<li class="nav-item h-100 d-none d-sm-flex">
					<div class="search-box flex-grow-1 flex-md-grow-0 h-100" role="search">
						<form method="get" id="topic-search" action="{S_SEARCHBOX_ACTION}" class="d-flex search-bar h-100">
							<div class="input-group">
								<span class="input-group-text rounded-start" id="basic-addon1"><i class="icon fa-search fa-fw" aria-hidden="true"></i></span>
								<input class="form-control p-0 rounded-end" type="search" name="keywords" id="search_keywords" maxlength="128" size="20" placeholder="{L_SEARCH_FORUM}">
								{S_SEARCH_LOCAL_HIDDEN_FIELDS}
							</div>
						</form>
					</div>
				</li>
				<!-- ENDIF -->
			</ul>
		</div>
		<div class="d-flex flex-grow-1 justify-content-end">
			<div class="pagination d-flex flex-column justify-content-center">
				<div class="pagination">
					<li class="nav-item">
						<p class="mb-0">{TOTAL_TOPICS}</p>
						<!-- IF .pagination -->
						<!-- INCLUDE pagination.html -->
						<!-- ELSE -->
						<p>{PAGE_NUMBER}</p>
						<!-- ENDIF -->
					</li>
				</div>
			</div>
		</div>
	</div>
<!-- ENDIF -->

<!-- IF S_NO_READ_ACCESS -->

	<div class="panel">
		<div class="inner">
		<strong>{L_NO_READ_ACCESS}</strong>
		</div>
	</div>

	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

		<form action="{S_LOGIN_ACTION}" method="post">

		<div class="panel">
			<div class="inner">

			<div class="content">
				<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>

				<fieldset class="fields1">
				<dl>
					<dt><label for="username">{L_USERNAME}{L_COLON}</label></dt>
					<dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
				</dl>
				<dl>
					<dt><label for="password">{L_PASSWORD}{L_COLON}</label></dt>
					<dd><input type="password" tabindex="2" id="password" name="password" size="25" class="inputbox autowidth" autocomplete="off" /></dd>
					<!-- IF S_AUTOLOGIN_ENABLED --><dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="3" /> {L_LOG_ME_IN}</label></dd><!-- ENDIF -->
					<dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="4" /> {L_HIDE_ME}</label></dd>
				</dl>
				<dl>
					<dt>&nbsp;</dt>
					<dd><input type="submit" name="login" tabindex="5" value="{L_LOGIN}" class="button1" /></dd>
				</dl>
				{S_LOGIN_REDIRECT}
				{S_FORM_TOKEN_LOGIN}
				</fieldset>
			</div>

			</div>
		</div>

		</form>

	<!-- ENDIF -->

<!-- ENDIF -->

<!-- EVENT viewforum_body_topic_row_before -->

<!-- BEGIN topicrow -->

	<!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and not topicrow.S_FIRST_ROW -->
		</ul>
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH -->
		<div class="forumbg<!-- IF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) --> announcement<!-- ENDIF -->">
		<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt<!-- IF S_DISPLAY_ACTIVE --> id="active_topics"<!-- ENDIF -->><div class="list-inner"><!-- IF S_DISPLAY_ACTIVE -->{L_ACTIVE_TOPICS}<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) -->{L_ANNOUNCEMENTS}<!-- ELSE -->{L_TOPICS}<!-- ENDIF --></div></dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics 2">
	<!-- ENDIF -->

		<!-- EVENT viewforum_body_topicrow_row_before -->
		<li class="row<!-- IF topicrow.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF topicrow.S_POST_GLOBAL --> global-announce<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			<!-- EVENT viewforum_body_topic_row_prepend -->
			<dl class="row-item d-flex justify-content-between {topicrow.TOPIC_IMG_STYLE}">
				<dt class="d-flex flex-grow-1" title="{topicrow.TOPIC_FOLDER_IMG_ALT}">
					<!-- IF topicrow.S_UNREAD_TOPIC and not S_IS_BOT --><a href="{topicrow.U_NEWEST_POST}" class="row-item-link"></a><!-- ENDIF -->
					<div class="list-inner d-flex flex-column justify-content-center">
						<!-- EVENT topiclist_row_prepend -->
						<!-- IF topicrow.S_UNREAD_TOPIC and not S_IS_BOT -->
							<a class="unread" href="{topicrow.U_NEWEST_POST}">
								<i class="icon fa-file fa-fw icon-red icon-md" aria-hidden="true"></i><span class="sr-only">{NEW_POST}</span>
							</a>
						<!-- ENDIF -->
						<!-- IF topicrow.U_VIEW_TOPIC --><a href="{topicrow.U_VIEW_TOPIC}" class="topictitle d-flex align-items-center"><!-- IF topicrow.TOPIC_ICON_IMG and S_TOPIC_ICONS --><img src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" style="height: 20px;"><!-- ENDIF -->{topicrow.TOPIC_TITLE}</a><!-- ELSE -->{topicrow.TOPIC_TITLE}<!-- ENDIF -->
						<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
							<a href="{topicrow.U_MCP_QUEUE}" title="<!-- IF topicrow.S_TOPIC_UNAPPROVED -->{L_TOPIC_UNAPPROVED}<!-- ELSE -->{L_POSTS_UNAPPROVED}<!-- ENDIF -->">
								<i class="icon fa-question fa-fw icon-blue" aria-hidden="true"></i><span class="sr-only"><!-- IF topicrow.S_TOPIC_UNAPPROVED -->{L_TOPIC_UNAPPROVED}<!-- ELSE -->{L_POSTS_UNAPPROVED}<!-- ENDIF --></span>
							</a>
						<!-- ENDIF -->
						<!-- IF topicrow.S_TOPIC_DELETED -->
							<a href="{topicrow.U_MCP_QUEUE}" title="{L_TOPIC_DELETED}">
								<i class="icon fa-recycle fa-fw icon-green" aria-hidden="true"></i><span class="sr-only">{L_TOPIC_DELETED}</span>
							</a>
						<!-- ENDIF -->
						<!-- IF topicrow.S_TOPIC_REPORTED -->
							<a href="{topicrow.U_MCP_REPORT}" title="{L_TOPIC_REPORTED}">
								<i class="icon fa-exclamation fa-fw icon-red" aria-hidden="true"></i><span class="sr-only">{L_TOPIC_REPORTED}</span>
							</a>
						<!-- ENDIF -->
						<!-- EVENT topiclist_row_topic_title_after -->

						<!-- IF not S_IS_BOT -->
						<div class="responsive-show forum-description" style="display: none;">
							{L_LAST_POST} {L_POST_BY_AUTHOR} <!-- EVENT viewforum_body_last_post_author_username_prepend -->{topicrow.LAST_POST_AUTHOR_FULL}<!-- EVENT viewforum_body_last_post_author_username_append --> &laquo; <a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}"><time datetime="{topicrow.LAST_POST_TIME_RFC3339}">{topicrow.LAST_POST_TIME}</time></a>
							<!-- IF topicrow.S_POST_GLOBAL and FORUM_ID != topicrow.FORUM_ID --><br />{L_POSTED} {L_IN} <a href="{topicrow.U_VIEW_FORUM}">{topicrow.FORUM_NAME}</a><!-- ENDIF -->
						</div>
							<!-- IF topicrow.REPLIES -->
							<span class="responsive-show left-box forum-description" style="display: none;">{L_REPLIES}{L_COLON} <strong>{topicrow.REPLIES}</strong></span>
							<!-- ENDIF -->
						<!-- ENDIF -->

						<div class="topic-poster responsive-hide left-box">
							<!-- IF topicrow.S_HAS_POLL --><i class="icon fa-bar-chart fa-fw" aria-hidden="true"></i><!-- ENDIF -->
							<!-- IF topicrow.ATTACH_ICON_IMG --><i class="icon fa-paperclip fa-fw" aria-hidden="true"></i><!-- ENDIF -->
							{% EVENT topiclist_row_topic_by_author_before %}
							{L_POST_BY_AUTHOR} <!-- EVENT viewforum_body_topic_author_username_prepend -->{topicrow.TOPIC_AUTHOR_FULL}<!-- EVENT viewforum_body_topic_author_username_append --> &raquo; <time datetime="{topicrow.FIRST_POST_TIME_RFC3339}">{topicrow.FIRST_POST_TIME}</time>
							{% EVENT topiclist_row_topic_by_author_after %}
							<!-- IF topicrow.S_POST_GLOBAL and FORUM_ID != topicrow.FORUM_ID --> &raquo; {L_IN} <a href="{topicrow.U_VIEW_FORUM}">{topicrow.FORUM_NAME}</a><!-- ENDIF -->
						</div>

						<!-- IF .topicrow.pagination -->
						<div class="d-flex align-items-center">
							<span><i class="icon fa-clone fa-fw" aria-hidden="true"></i></span>
							<ul class="pagination pagination-sm ms-1">
								<!-- BEGIN pagination -->
								<!-- IF topicrow.pagination.S_IS_PREV -->
								<!-- ELSEIF topicrow.pagination.S_IS_CURRENT --><li class="page-item active"><span>{topicrow.pagination.PAGE_NUMBER}</span></li>
								<!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS --><li class="page-item"><span>{L_ELLIPSIS}</span></li>
								<!-- ELSEIF topicrow.pagination.S_IS_NEXT -->
								<!-- ELSE --><li class="page-item"><a class="page-link" href="{topicrow.pagination.PAGE_URL}">{topicrow.pagination.PAGE_NUMBER}</a></li>
								<!-- ENDIF -->
								<!-- END pagination -->
							</ul>
						</div>
						<!-- ENDIF -->

						<!-- EVENT topiclist_row_append -->
					</div>
				</dt>
				<dd class="topics d-none d-md-flex flex-column justify-content-center me-4">
					<div class="post-count mb-2">{topicrow.REPLIES} {L_REPLIES}</div> <dfn>{L_REPLIES}</dfn>
					<div class="post-count">{topicrow.VIEWS} {L_VIEWS}</div> <dfn>{L_VIEWS}</dfn>
				</dd>
				<dd class="lastpost d-none d-md-flex flex-column justify-content-center">
					<p class="text-strong">{L_LAST_POST}</p>
					<span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} <!-- EVENT viewforum_body_last_post_author_username_prepend -->{topicrow.LAST_POST_AUTHOR_FULL}<!-- EVENT viewforum_body_last_post_author_username_append -->
						<!-- IF not S_IS_BOT and topicrow.U_LAST_POST -->
							<a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}">
								<i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">{VIEW_LATEST_POST}</span>
							</a>
						<!-- ENDIF -->
						<br /><time datetime="{topicrow.LAST_POST_TIME_RFC3339}">{topicrow.LAST_POST_TIME}</time>
					</span>
				</dd>
			</dl>
			<!-- EVENT viewforum_body_topic_row_append -->
		</li>
		<!-- EVENT viewforum_body_topic_row_after -->

	<!-- IF topicrow.S_LAST_ROW -->
			</ul>
		</div>
	</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<!-- IF S_IS_POSTABLE -->
	<div class="panel">
		<div class="inner">
		<strong>{{ lang(S_SORT_DAYS ? 'NO_TOPICS_TIME_FRAME' : 'NO_TOPICS') }}</strong>
		</div>
	</div>
	<!-- ELSE IF not S_HAS_SUBFORUM -->
	<div class="panel">
		<div class="inner">
			<strong>{L_NO_FORUMS_IN_CATEGORY}</strong>
		</div>
	</div>
	<!-- ENDIF -->
<!-- END topicrow -->

<!-- IF .topicrow and not S_DISPLAY_ACTIVE -->
	<div class="action-bar bar-bottom d-flex justify-content-between flex-wrap my-1">
		<div class="d-flex">
			<ul class="navbar">
				<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
				<!-- EVENT viewforum_buttons_bottom_before -->
				<li class="nav-item me-1">
					<a href="{U_POST_NEW_TOPIC}" class="btn btn-primary" title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->">
					<!-- IF S_IS_LOCKED -->
						<span>{L_BUTTON_FORUM_LOCKED}</span> <i class="icon fa-lock fa-fw" aria-hidden="true"></i>
					<!-- ELSE -->
						<span>{L_BUTTON_NEW_TOPIC}</span> <i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
					<!-- ENDIF -->
					</a>
				</li>
				<!-- EVENT viewforum_buttons_bottom_after -->
				<!-- ENDIF -->
				<!-- IF not S_IS_BOT and U_MARK_TOPICS and .topicrow -->
				<li class="nav-item me-1">
					<a href="{U_MARK_TOPICS}" class="btn btn-secondary" accesskey="m" data-ajax="mark_topics_read" title="{L_MARK_TOPICS_READ}"><i class="icon fa-check fa-fw icon-lg" aria-hidden="true"></i> <span class="sr-only">{L_MARK_TOPICS_READ}</span></a>
				</li>
				<!-- ENDIF -->
				<!-- IF S_SELECT_SORT_DAYS and not S_IS_BOT -->
				<li class="nav-item">
					<form method="post" action="{S_FORUM_ACTION}">
						<!-- INCLUDE display_options.html -->
					</form>
				</li>
				<!-- ENDIF -->
			</ul>
		</div>

		<div class="d-flex flex-grow-1 justify-content-end">
			<div class="pagination d-flex flex-column justify-content-center">
				<div class="pagination">
					<li class="nav-item">
						<p class="mb-0">{TOTAL_TOPICS}</p>
						<!-- IF .pagination -->
						<!-- INCLUDE pagination.html -->
						<!-- ELSE -->
						<p>{PAGE_NUMBER}</p>
						<!-- ENDIF -->
					</li>
				</div>
			</div>
		</div>

	</div>
<!-- ENDIF -->

<!-- INCLUDE jumpbox.html -->

{% EVENT viewforum_body_online_list_before %}

<!-- IF S_DISPLAY_ONLINE_LIST and U_VIEWONLINE -->
	<div class="stat-block online-list">
		<h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3>
		<p>{LOGGED_IN_USER_LIST}</p>
	</div>
<!-- ENDIF -->

<!-- IF S_IS_POSTABLE and rules|length -->
	<div class="stat-block permissions">
		<h3>{L_FORUM_PERMISSIONS}</h3>
		<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>
	</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
